# Node modules
node_modules/

# Build files
dist/
out/

# IDE files
.vscode/
.idea/

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env

# System files
.DS_Store
Thumbs.db
